.profile-sidebar {
    width: 400px;
    background-color: darkred;
    border-radius: 8px;
    box-shadow: 0px 0px 15px;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid white;
}

#follow-btn {
    width: 150px;
    height: 50px;
    background-color: darkred;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -10px;
}
.settings {
    font-size: 12px;
}