<div class="reg-form">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form class="form-scale" novalidate>
            <div class="text-center mb-5">
                <h1>Register Here</h1>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="inputFirstname">Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" name="Firstname" required>
                </div>
                <div class="form-group col-6">
                    <label for="inputLastname">Lastname</label>
                    <input type="text" class="form-control" placeholder="Lastname" name="Lastname" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" placeholder="Email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" placeholder="Username" name="Username" pattern="" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" name="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,}" required>
                
                    <small class="text-danger">
                        Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters!
                    </small>
            </div>
            <div class="form-inline">
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="ml-3 pt-3 align-items-center">
                    <a href="/login">
                        <p>Sign In</p>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>