{{ userModel | json }}
<div class="reg-form">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form class="form-scale">
            <div class="text-center mb-5">
                <h1>Register Here</h1>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="inputFirstname">Firstname</label>
                    <input type="text" class="form-control" placeholder="Firstname" name="Firstname" required
                        #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" [(ngModel)]="userModel.Firstname">
                </div>
                <div class="form-group col-6">
                    <label for="inputLastname">Lastname</label>
                    <input type="text" class="form-control"  placeholder="Lastname" name="Lastname" required
                        #lastname="ngModel" [class.is-invalid]="lastname.invalid && lastname.touched" [(ngModel)]="userModel.Lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control"  placeholder="Email" name="Email" required
                    #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="userModel.Email">
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label> 
                <input type="text" class="form-control"  placeholder="Username" name="Username" required
                    #username="ngModel" [class.is-invalid]="username.invalid && username.touched" [(ngModel)]="userModel.Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control"  placeholder="Password" name="Password" required
                    #password="ngModel" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="userModel.Password">
            </div>
            <div class="form-inline">
                <button type="submit" class="btn btn-primary">Register</button>
                <div class="ml-3 pt-3 align-items-center">
                    <a href="/login">
                        <p>Sign In</p>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>