<div class="container w-100">
    <div class="timeline-textbox">
        <div class="tweetbox">
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="twwet" rows="3" placeholder="What's happening...?"></textarea>
                    <div class="tweetbtn">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <div class="timeline">

    </div>
</div>
