<div class="timeline-textbox px-4 shadow-sm">
    <div class="tweetbox-form pb-3">
        <form>
            <div class="form-group flex-column">
                <div class="tweetbox">
                    <textarea class="form-control mb-2" id="twwet" rows="2"
                        placeholder="What's happening...?"></textarea>
                </div>
                <div class="tweetbtn d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
    <div class="timeline w-100">
        <div class="post shadow">
            <div class="user d-flex align-items-center">
                <div class="user-image">
                    <img id="profile-pic" src="{{ comingsoon }}" alt="">
                </div>
                <div class="user-info m-3">
                    <div class="user-name">Samson Adeyinka</div>
                    <div class="post-date">18/05/20</div>
                </div>
                <div class="d-flex ml-auto">
                    <a href="#">
                        <div class="action">likes</div>
                    </a>
                    <a href="#">
                        <div class="action">comment</div>
                    </a>
                    <a href="#">
                        <div class="action">share</div>
                    </a>
                </div>
            </div>
            <div class="content pt-4 pb-2 px-5">
                <p>this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                    this is the first test. hello world!
                </p>
            </div>
        </div>
    </div>
</div>