<div class="log-form">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form class="form-login mw-100">
            <div class="text-center mb-5">
                <h1>Login</h1>
            </div>
                <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" #email="ngModel" [(ngModel)]="user.email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" #password="ngModel" [(ngModel)]="user.password">
            </div>
            <div class="form-inline">
                <button type="submit" class="btn btn-primary">Login</button>
                <div class="ml-3 pt-3 align-items-center">
                    <a href="/register">
                        <p>Register</p>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>